body {
    text-align: center;
    background-color: saddlebrown;
}

div {
    margin-top: 15px;
}

img {
    width: 400px;
    height: 400px;
}

p {
    font-family: monospace;
    color: mediumaquamarine;
}
